attrs==23.1.0
install==1.3.5
jsonpath-ng==1.6.0
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
ply==3.11
PyYAML==6.0.1
referencing==0.31.0
robotframework==6.1.1
robotframework-jsonlibrary==0.5
robotframework-websocketclient==1.3.0
rpds-py==0.13.0
websocket-client==1.6.4
