/* Style the container for the horizontal layout */
.process-container {
    display: flex; 
    align-items: center; 
    font-family: 'Arial', sans-serif;
  }
  
  /* Style each item within the container */
  .process-item {
  color: #333; /* Text color */
  padding: 10px; /* Add padding to each item */
  padding-left: 15px;
  margin-right: 5%; /* Add space between items */
  font-size: 16px;
  }
  
  /*process-info goes under each process-item*/
  .process-info {
  color: #333; /* Text color */
  padding: 10px; /* Add padding to each item */
  font-size: 16px;
  }
  
  .bpmnview{
    color: #333;
  }