/* Processes.css */

/* Style the container for the horizontal layout */
.process-container {
    display: flex; /* Display items horizontally */
    align-items: center; /* Vertically center items */
    font-family: 'Arial', sans-serif;
  }
  
  /* Style each item within the container */
  .process-item {
    background-color: white; /* Background color for each item */
    color: #333; /* Text color */
    padding: 10px; /* Add padding to each item */
    padding-left: 35px;
    margin-right: 5%; /* Add space between items */
    font-size: 16px;
  }
  