/* Style the container for the horizontal layout */
.header-container {
    display: flex; /* Display items horizontally */
    align-items: center; /* Vertically center items */
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    padding-bottom: 2%;
    padding-top: 2%;
  }
  
  /* Style each item within the container */
  .header-item {
    background-color: white; /* Background color for each item */
    color: black; 
    padding-left: 25px;
    font-size: 25px;
  }

    /* Style each item within the container */
   .logo-item {
    background-color: #D3D3D3; /* Background color for each item */
    color: #333; 
    padding: 25px;
    font-size: 25px;
  }

