/* Style the container for the horizontal layout */
.incident-container {
    display: flex; 
    align-items: center; 
    font-family: 'Arial', sans-serif;
  }
  
  /* Style each item within the container */
  .incident-item {
    background-color: white; 
    color: #333; 
    padding: 10px; 
    padding-left: 35px;
    margin-right: 5%; 
    font-size: 16px;
  }

  .instance-key {
    background-color: white; /* Background color for each item */
    color: #0000FF; /* Text color */
    padding: 10px; /* Add padding to each item */
    font-size: 16px;
  }

  .incident-info {
    background-color: white; /* Background color for each item */
    color: #333; /* Text color */
    padding: 10px; /* Add padding to each item */
    font-size: 16px;
  }

  .not-found{
    padding: 20px;
    padding-left: 5%;
  }
  